* {
    -webkit-text-size-adjust: none;
}
html{
    background-color: #eeeeee
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    border: 0;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.td_0 {
    padding: 6px !important;
    padding-right: 3px !important;
}
.td_1 {
    padding: 6px !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
}
.td_2 {
    padding: 6px !important;
    padding-left: 3px !important;
}


.row {
    margin-top: 0em;
}

.hero img {
    width: 100%;
    height: auto;
}

td {
    padding-top: 0.5em !important;
}

.history {
    margin-top: 40px;
}

.triangle > span {
    top: 50px;
    left: 4px;
}

.triangle {
    z-index: 10;
    position: absolute;
}

.rank {
    padding-left: 4px;
    padding-top: 4px;
    color: white;
    font-size: 1em;
}

.change {
    padding-top: -2px;
    padding-left: 5px;
    color: #e496a1;
    font-size: 0.5em;
}

.f_grade {
    padding-left: 5px;
    color: white;
    font-size: 0.8em;
    position: absolute;
}

.dropdown-content {
    z-index: 50 !important;
}

.ratio {
    margin-top: 4px;
    padding-bottom: 0.2em;
    font-size: 12px;
}

.ratioback {
    width: 100%;
    background-color: #939393;
    margin-top: 3px;
    height: 1em;
}

.win_front {
    background-color: #c82d43;
    left: 0px;
    height: 100%;
    margin-top: -5px;
}

.dropbox {
    width: 100%;
    position: fixed;
    background-color: #2c2c2c !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: -11px !important;
    z-index: 999 !important;
}

.dropbox2 {
    width: 100%;
    position: fixed;
    background-color: #2c2c2c !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: -11px !important;
    z-index: 999 !important;
}
.btn,
.btn-large {
    background-color: #2c2c2c !important;
    z-index: 999 !important;
    color: #939393 !important;
    text-align: left !important;
    padding-left: 1rem !important;
    height: 45px !important;
    font-size: 1.1em;
}

#btn1{
    padding-top: 3px !important;
    width: 33% !important;

}

#btn2{
    padding-top: 3px !important;
    width: 60% !important;

}

.sc {
    background-color: #2c2c2c !important;
    width: 69% !important;
    text-align: right;
    margin-right: 0;
}

.pick_front0 {
    left: 0px;
    height: 100%;
    margin-top: -5px;
    width: 100%;
}

.h_title {
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 1.5em;
    margin-left: 10px;
    padding: 10px;
    margin-top: 0.5em;
    padding-top: 50px;
}

.h_sub_title {
    text-align: center;
    margin-top: -0.4em;
    font-size: 0.9em;
}
.pick_front {
    background-color: #2598d3;
    left: 0px;
    height: 100%;
    margin-top: -5px;
}

.title {
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 16px;
    margin-left: 10px;
    padding: 2px;
    margin-top: 1em;
    padding-bottom: 2px !important;
    margin-top: 7px;
    margin-left: 0.8em;
    color: #2c2c2c;
    padding-bottom: 0.2em !important;
}

.title0 {
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 1em;
    padding-bottom: 0px !important;
    margin-top: 0.5em !important;
    margin-bottom: -5px;
    margin-left: 0.4em;
    padding-bottom: 0.2em !important;

}

.padding {
    height: 1em;
}

.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.side-nav {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    /*    box-shadow: rgb(134, 134, 134) 0px 0px 2px 0px !important;*/
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.side-nav {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: rgb(134, 134, 134) 0px 0px 2px 0px !important;
}

.dropdown-button btn {
    z-index: 30;
}
.line-separator {
    height: 45px;
    width: 2px;
    position: absolute;
    background: #939393;
    border-bottom: 1px solid #939393;
}
.line-separator2 {
    height: 45px;
    width: 2px;
    position: absolute;
    background: #939393;
    border-bottom: 1px solid #939393;
}

.bottom_back{
    background-color: #000000;
    opacity: 0.7;
    height: 20px;
    width: 90%;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-bottom: 0em;
    margin-right: 0em;
    padding-top: 3px !important;
}

.bottom_back2{
    background-color: #c82d43;
    height: 20px;
    width: 30px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-bottom: 0em;
    margin-left: 0em;
    text-align: center;
    padding-top: 4px !important;
}
.name{
    margin-right: 5px;
    color: white;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    text-align: right;
    width: 63% !important;
}


td {
    padding: 0.4em !important;
}


@media only screen and (max-width: 320px) {
    .title {
        font-size: 1.2em !important;
    }
    .title0 {
        font-size: 0.9em !important;
    }
    .line-separator {
        height: 40px !important;
    }


    .line-separator2 {
        height: 5px !important;
    }
    .dropbox2 {
        height: 100px !important;
    }

    .sc {
        width: 60% !important;
    }
    .rank {
        padding-left: 0.2em !important;
        margin-top: -0.2em !important;
        color: white !important;
        font-size: 11px !important;
    }
    .f_grade {
        padding-left: 5px;
        padding-top: 2px;
        color: white;
        font-size: 0.5em;
        position: absolute;
    }
    .change {
        margin-top: -3px !important;
        padding-left: 1px !important;
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
    .title {
        font-size: 1.3em !important;
    }
    .title0 {
        font-size: 1em !important;
    }
    .rank {
        font-size: 13px !important;
    }

    .sc {
        width: 65% !important;
    }
    .f_grade {
        padding-left: 5px;
        padding-top: 2px;
        color: white;
        font-size: 0.6em;
        position: absolute;
    }
        .btn,
    .btn-large {
        width 65% !important;
        font-size: 15px !important;
    }
    .change {
        margin-top: -2px !important;
        padding-left: 5px !important;
        font-size: 10px !important;
    }
        .line-separator {
        height: 39px !important;
    }
}

@media only screen and (min-width: 361px) and (max-width: 400px) {
    .title {
        font-size: 16px !important;
        padding-bottom: 2em;
    }
    .btn, .btn-large {
        width 60% !important;
        font-size: 14px !important;
    }


    .sc {
        width: 60% !important;
    }
    .title0 {
        font-size: 13px !important;
    }
    .rank {
        font-size: 12px !important;
    }
    .f_grade {
        padding-left: 0.5em !important;
        padding-top: 2px;
        color: white;
        font-size: 0.7em;
        position: absolute;
    }
    .change {
        margin-top: -2px !important;
        padding-left: 0.5em !important;
        font-size: 8px !important;
    }
    .ratio{
        padding-left: 0.2em;
    }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
    .title {
        font-size: 1.5em !important;
    }
    .title0 {
        font-size: 1.2em !important;
    }
    .rank {
        font-size: 14px !important;
    }

    .f_grade {
        padding-left: 5px;
        padding-top: 1px;
        color: white;
        font-size: 0.7em;
        position: absolute;
    }
    .change {
        margin-top: -2px !important;
        padding-left: 5px !important;
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
    .title {
        font-size: 1.6em !important;
    }
    .title0 {
        font-size: 1.3em !important;
    }
    .rank {
        padding-left: 5px !important;
        margin-top: 0em !important;
        color: white !important;
        font-size: 1.8em !important;
    }

    .ratioback {
        height: 1.5em;
    }
    .ratio {
        font-size: 1.2em !important;
    }
    .f_grade {
        padding-left: 5px;
        padding-top: 2.9px;
        color: white;
        font-size: 1em;
        position: absolute;
    }
    .change {
        margin-top: -2px !important;
        padding-left: 5px !important;
        font-size: 15px !important;
    }
}


@media only screen and (min-width: 601px) and (max-width: 901px) {
    .title {
        font-size: 1.7em !important;
    }
    .title0 {
        font-size: 1.4em !important;
    }
    .rank {
        font-size: 20px !important;
    }
    .ratioback {
        height: 1.7em;
    }
    .ratio {
        font-size: 1.5em !important;
    }
    .f_grade {
        padding-left: 5px;
        padding-top: 2.5px;
        color: white;
        font-size: 1.3em;
        position: absolute;
    }
    .change {
        margin-top: -2px !important;
        padding-left: 10px !important;
        font-size: 20px !important;
    }
    .bottom_back{
        height: 40px !important;
        width: 85%;
        padding-top: 8px !important;
    }

    .bottom_back2{
        height: 40px !important;
        width: 15%;
        padding-top: 5px !important;
    }
    .name{
        font-size: 20px !important;
        width: 80% !important;
    }

}

