* {
    -webkit-text-size-adjust: none;
}

html {
    background-color: #eeeeee
}

.container {
    width: 98% !important;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: rgb(134, 134, 134) 0px 0px 2px 0px !important;
}

thead {
    font-size: 1em !important;
    text-align: center;
}

th {
    text-align: center !important;
}

td {
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 0em !important;
    font-size: 0.8em !important;
}

.tdi img {
    width: 85%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selbox {
    width: 12.5% !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.sel {
    padding: 0.4em;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    position: relative;
}

.no_right {
    padding-right: 0.4em !important;
}
.no_left {
    padding-left: 0.4em !important;
}

.sel img {
    width: 100%;
    display: block;
}

.td_rank {
    background-color: #c82d43;
    margin-left: 0.4em;
    height: 100%;
    font-size: 0.5em;
    color: white;
    text-align: center;
}

.wrapBox {
    background-color: white !important;
}

.rank {
    font-size: 1.6em;
    padding-top: 1em;
}

.c2 {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.td_text {
    padding-left: 0.4em;
    font-size: 1.5em;
}

.tab2_content .td_text {
    padding-left: 1em;
    font-size: 1.3em;
}

.td_arrow {
    font-size: 2em;
    padding-right: 0.4em;
}

.title_h {
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
    margin-top: 1em;
}

.sub_title {
    text-align: center;
    margin-top: -0.4em;
    font-size: 0.7em;
}

.title2 {
    margin-top: 1em;
    font-size: 12px;
    padding-bottom: 0.4em;
    margin-left: 0.4em;
    font-weight: bold;
}

.gap{
    margin-top: 1.1em;
}

.box2 {
    padding: 0.4em;
}

.end_sel {
    padding-top: 0px !important;
}

thead tr th {
    background-color: #c82d43;
    /*    height: 0.5em;*/

    color: white;
    /*    text-align: center;*/
    /*    font-size: 0.6em;*/

    border-radius: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    /*    padding-right: 0px !important;*/
    /*    padding-left: 0px !important;*/
    /*    height: 0em !important;*/
}

.ht tr td {
    text-align: center;
    font-size: 0.7em !important;
    padding-top: 3.7px !important;
    padding-bottom: 3.7px !important;
}

.st td {
    padding: 0px !important;
}

.box {
    padding-left: 0.15em;
    position: relative;
    padding-right: 0.15em;
    padding-top: 0.3em;
}

.percentBox {
    text-align: center;
    padding-top: 2px;
    font-size: 0.8em;
    color: white;
}
.bottom_back{
    background-color: #000000;
    opacity: 0.8;
    height: 15px;
    bottom: 0.4em !important;
    right: 0.2em !important;
    left: 0.2em !important;
    position: absolute;
    text-align: center;
}

.b_no_left{
    left: 0.4em !important;
}

.b_no_right{
    right: 0.4em !important;
}

.per {
    text-align: center;
    font-size: 0.65em;
    color: white;
    margin-top: 0px;
}

.left {
    background-color: #2598d3;
    left: 0;
    text-align: center;
    color: white;
    font-size: 1.3em;
}

.right {
    right: 0;
    text-align: center;
    color: white;
    font-size: 1.3em;
    background-color: #c82d43;
}

.last {
    padding-bottom: 0.4em !important;
    padding-left: 0.5em !important;
    padding-top: 0px !important;
}

.last .profile {
    width: 50%;
    float: left;
}

.profile img {
    width: 20%;
    bottom: 0;
    float: left;
}

.last .desc {
    font-size: 0.5em;
    padding-left: 2em !important;
}

.last .desc .name {
    padding-left: 1em;
}

.last .desc .rate {
    padding-top: 1em;
}

.hero {
    position: relative;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    width: 100%;
    height: auto;
    border: 0;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-top: 1.0em;
}


.triangle > span {
    top: 50px;
    left: 4px;
}

.triangle {
    z-index: 10;
    position: absolute;
}

.rank {
    padding-left: 2em;
    padding-top: 0.7em;
    color: white;
    font-size: 1em !important;
    font-weight: bold;
}

.change {
    padding-top: -2px;
    padding-left: 5px;
    color: white;
    font-size: 0.5em;
}

.h_name {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    color: white;
    font-size: 0.8em;
    width: 75%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td_desc {
    font-size: 0.5em;
    padding-left: 0em !important;
    line-height: 145% !important;
}

.tdi {
    padding-bottom: 0.4em !important;
    width: 20% !important;
}

.redbox {
    width: 100%;
    height: auto;
    background-color: #c82d43;
    margin-left: 0.4em;
    text-align: center;
    padding-top: 0.1em;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.change2 {
    font-size: 0.2em;
    font-weight: normal;
}

.td2 {
    width: 10%;
}

.table2 {
    border: none;
    margin-top: 0.5em;
}

.table2 td {
    padding: 0.4em;
}

.desc2 {
    margin-left: 0em;
    font-weight: bold;
}

.box2 {
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.mu {
    font-size: 0.4em;
    color: #c82d43;
}

@media only screen and (max-width: 320px) {
    .redbox {
        height: 2.8em;
        padding-top: 4.2px;
        font-weight: bold;
        font-size: 16px !important;
    }
    .change2 {
        font-size: 0.1em !important;
    }
    .td2 {
        width: 25%;
    }
    .desc2 {
        margin-left: 0.5em;
    }
    .mu {
        font-size: 0.4em;
    }
    #css_tabs label[for=tab1] {
        width: 45%;
    }
    #css_tabs label[for=tab2] {
        width: 45%;
    }
    .tdi {
        width: 25% !important;
    }
    .rank {
        padding-left: 1.15em;
        padding-top: 0.8em;
        color: white;
        font-size: 0.7em !important;
        font-weight: bold;
    }
    .change {
        padding-top: -2px !important;
        padding-left: 5px !important;
        color: white !important;
        font-size: 0.5em !important;
    }
    .h_name {
        position: absolute !important;
        padding-bottom: 0.4em !important;
        right: 1.5em !important;
        color: white !important;
        font-size: 0.8em !important;
    }
    .td_desc {
        font-size: 0.8em !important;
    }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
    .rank {
        font-size: 0.7em !important;
        padding-left: 1em !important;
        padding-top: 0.8em !important;
    }
    .h_name {
        position: absolute !important;
        padding-bottom: 0.3em !important;
        right: 1.5em !important;
        color: white !important;
        font-size: 0.8em !important;
    }
}

@media only screen and (min-width: 361px) and (max-width: 400px) {
    .redbox {
        height: 1.8em;
        padding-top: 4.2px;
        font-weight: bold;
        font-size: 16px !important;
    }
    .change2 {
        font-size: 0.1em !important;
    }
    .td2 {
        width: 25%;
    }
    .desc2 {
        margin-left: 0.5em;
    }
    .mu {
        font-size: 0.4em;
    }
    #css_tabs label[for=tab1] {
        width: 45%;
    }
    #css_tabs label[for=tab2] {
        width: 45%;
    }
    .tdi {
        width: 21% !important;
    }
    .rank {
        padding-left: 1.2em !important;
        margin-top: 0em !important;
        color: white !important;
        font-size: 0.75em !important;
    }
    .change {
        padding-top: -2px !important;
        padding-left: 5px !important;
        color: white !important;
        font-size: 0.5em !important;
    }
    .h_name {
        position: absolute !important;
        bottom: 0.8em !important;
        right: 1.5em !important;
        color: white !important;
        font-size: 0.8em !important;
    }
    .td_desc {
        font-size: 0.8em !important;
    }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
    .redbox {
        height: 1.8em;
        padding-top: 0.2em;
        font-weight: bold;
        font-size: 16px !important;
    }
    .change2 {
        font-size: 0.1em !important;
    }
    .td2 {
        width: 25%;
    }
    .desc2 {
        margin-left: 0.5em;
    }
    .mu {
        font-size: 0.4em;
    }
    #css_tabs label[for=tab1] {
        width: 46%;
    }
    #css_tabs label[for=tab2] {
        width: 46%;
    }
    .tdi {
        width: 28% !important;
    }
    .rank {
        padding-left: 1.1em !important;
        margin-top: 0em !important;
        color: white !important;
        font-size: 1em !important;
    }
    .change {
        padding-top: -2px !important;
        padding-left: 5px !important;
        color: white !important;
        font-size: 0.5em !important;
    }
    .h_name {
        position: absolute !important;
        bottom: 1em !important;
        right: 1.5em !important;
        color: white !important;
        font-size: 1em !important;
    }
    .td_desc {
        font-size: 0.8em !important;
    }
}


@media only screen and (min-width: 501px) and (max-width: 600px) {
    .redbox {
        height: 1.8em;
        padding-top: 0.2em;
        font-weight: bold;
        font-size: 16px !important;
    }
    .change2 {
        font-size: 0.1em !important;
    }
    .td2 {
        width: 25%;
    }
    .desc2 {
        margin-left: 0.5em;
    }
    .mu {
        font-size: 0.4em;
    }
    .tdi {
        width: 20% !important;
    }
    .rank {
        padding-left: 0.9em !important;
        margin-top: 0em !important;
        color: white !important;
        font-size: 11px !important;
    }
    .change {
        padding-top: -2px !important;
        padding-left: 5px !important;
        color: white !important;
        font-size: 0.5em !important;
    }
    .h_name {
        position: absolute !important;
        bottom: 0.1em !important;
        right: 0.6em !important;
        color: white !important;
        font-size: 0.9em !important;
    }
    .td_desc {
        font-size: 1em !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .redbox {
        height: 1.8em;
        padding-top: 0.2em;
        font-weight: bold;
        font-size: 16px !important;
    }
    .change2 {
        font-size: 0.1em !important;
    }
    .td2 {
        width: 15%;
    }
    .desc2 {
        margin-left: 0.8em;
    }
    .mu {
        font-size: 0.4em;
    }
    .tdi {
        width: 18% !important;
    }
    .rank {
        padding-left: 0.8em !important;
        margin-top: 0.2em !important;
        color: white !important;
        font-size: 13px !important;
    }
    .change {
        padding-top: -2px !important;
        padding-left: 5px !important;
        color: white !important;
        font-size: 0.5em !important;
    }
    .h_name {
        position: absolute !important;
        bottom: 0.1em !important;
        right: 0.6em !important;
        color: white !important;
        font-size: 1.1em !important;
    }
    .td_desc {
        font-size: 1.2em !important;
    }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
    .redbox {
        height: 1.8em;
        padding-top: 0.2em;
        font-weight: bold;
        font-size: 16px !important;
    }
    .change2 {
        font-size: 0.1em !important;
    }
    .td2 {
        width: 15%;
    }
    .desc2 {
        margin-left: 0.8em;
    }
    .mu {
        font-size: 0.4em;
    }
    .tdi {
        width: 12% !important;
    }
    .rank {
        padding-left: 0.7em !important;
        margin-top: -0.4em !important;
        color: white !important;
        font-size: 13px !important;
    }
    .change {
        padding-top: -2px !important;
        padding-left: 5px !important;
        color: white !important;
        font-size: 0.5em !important;
    }
    .h_name {
        position: absolute !important;
        bottom: 0em !important;
        right: 0.6em !important;
        color: white !important;
        font-size: 1.1em !important;
    }
    .td_desc {
        font-size: 1.2em !important;
    }
}

#linkGroup {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c82d43;
    margin-top: 1em;
    color: white;
    font-size: 1em;
    text-align: left;
    padding: 0.8em;
    font-weight: bold;

    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.__spi32{background-image:url(http://sk2.op.gg/assets/item32.png?1442002062);}
.__spi32-0{background-position:0px 0px;width:100%;height:100%;}
.__spi32-1{background-position:0px 32px;width:100%;height:100%;}
.__spi32-2{background-position:0px -64px;width:100%;height:100%;}
.__spi32-3{background-position:0px -96px;width:100%;height:100%;}
.__spi32-4{background-position:0px -128px;width:100%;height:100%;}
.__spi32-5{background-position:0px -160px;width:100%;height:100%;}
.__spi32-6{background-position:0px -192px;width:100%;height:100%;}
.__spi32-7{background-position:0px -224px;width:100%;height:100%;}
.__spi32-8{background-position:0px -256px;width:100%;height:100%;}
.__spi32-9{background-position:0px -288px;width:100%;height:100%;}
.__spi32-10{background-position:0px -320px;width:100%;height:100%;}
.__spi32-11{background-position:0px -352px;width:100%;height:100%;}
.__spi32-12{background-position:0px -384px;width:100%;height:100%;}
.__spi32-13{background-position:0px -416px;width:100%;height:100%;}
.__spi32-14{background-position:0px -448px;width:100%;height:100%;}
.__spi32-15{background-position:0px -480px;width:100%;height:100%;}
.__spi32-16{background-position:0px -512px;width:100%;height:100%;}
.__spi32-17{background-position:0px -544px;width:100%;height:100%;}
.__spi32-18{background-position:0px -576px;width:100%;height:100%;}
.__spi32-19{background-position:0px -608px;width:100%;height:100%;}
.__spi32-20{background-position:0px -640px;width:100%;height:100%;}
.__spi32-21{background-position:0px -672px;width:100%;height:100%;}
.__spi32-22{background-position:0px -704px;width:100%;height:100%;}
.__spi32-23{background-position:0px -736px;width:100%;height:100%;}
.__spi32-24{background-position:0px -768px;width:100%;height:100%;}
.__spi32-25{background-position:0px -800px;width:100%;height:100%;}
.__spi32-26{background-position:0px -8100%;width:100%;height:100%;}
.__spi32-27{background-position:0px -864px;width:100%;height:100%;}
.__spi32-28{background-position:0px -896px;width:100%;height:100%;}
.__spi32-29{background-position:0px -928px;width:100%;height:100%;}
.__spi32-30{background-position:0px -960px;width:100%;height:100%;}
.__spi32-31{background-position:0px -992px;width:100%;height:100%;}
.__spi32-32{background-position:0px -1024px;width:100%;height:100%;}
.__spi32-33{background-position:0px -1056px;width:100%;height:100%;}
.__spi32-34{background-position:0px -1088px;width:100%;height:100%;}
.__spi32-35{background-position:0px -1120px;width:100%;height:100%;}
.__spi32-36{background-position:0px -1152px;width:100%;height:100%;}
.__spi32-37{background-position:0px -1184px;width:100%;height:100%;}
.__spi32-38{background-position:0px -1216px;width:100%;height:100%;}
.__spi32-39{background-position:0px -1248px;width:100%;height:100%;}
.__spi32-40{background-position:0px -1280px;width:100%;height:100%;}
.__spi32-41{background-position:0px -1312px;width:100%;height:100%;}
.__spi32-42{background-position:0px -1344px;width:100%;height:100%;}
.__spi32-43{background-position:0px -1376px;width:100%;height:100%;}
.__spi32-44{background-position:0px -1408px;width:100%;height:100%;}
.__spi32-45{background-position:0px -1440px;width:100%;height:100%;}
.__spi32-46{background-position:0px -1472px;width:100%;height:100%;}
.__spi32-47{background-position:0px -1504px;width:100%;height:100%;}
.__spi32-48{background-position:0px -1536px;width:100%;height:100%;}
.__spi32-49{background-position:0px -1568px;width:100%;height:100%;}
.__spi32-50{background-position:0px -1600px;width:100%;height:100%;}
.__spi32-51{background-position:0px -16100%;width:100%;height:100%;}
.__spi32-52{background-position:0px -1664px;width:100%;height:100%;}
.__spi32-53{background-position:0px -1696px;width:100%;height:100%;}
.__spi32-54{background-position:0px -1728px;width:100%;height:100%;}
.__spi32-55{background-position:0px -1760px;width:100%;height:100%;}
.__spi32-56{background-position:0px -1792px;width:100%;height:100%;}
.__spi32-57{background-position:0px -1824px;width:100%;height:100%;}
.__spi32-58{background-position:0px -1856px;width:100%;height:100%;}
.__spi32-59{background-position:0px -1888px;width:100%;height:100%;}
.__spi32-60{background-position:0px -1920px;width:100%;height:100%;}
.__spi32-61{background-position:0px -1952px;width:100%;height:100%;}
.__spi32-62{background-position:0px -1984px;width:100%;height:100%;}
.__spi32-63{background-position:0px -2016px;width:100%;height:100%;}
.__spi32-64{background-position:0px -2048px;width:100%;height:100%;}
.__spi32-65{background-position:0px -2080px;width:100%;height:100%;}
.__spi32-66{background-position:0px -2112px;width:100%;height:100%;}
.__spi32-67{background-position:0px -2144px;width:100%;height:100%;}
.__spi32-68{background-position:0px -2176px;width:100%;height:100%;}
.__spi32-69{background-position:0px -2208px;width:100%;height:100%;}
.__spi32-70{background-position:0px -2240px;width:100%;height:100%;}
.__spi32-71{background-position:0px -2272px;width:100%;height:100%;}
.__spi32-72{background-position:0px -2304px;width:100%;height:100%;}
.__spi32-73{background-position:0px -2336px;width:100%;height:100%;}
.__spi32-74{background-position:0px -2368px;width:100%;height:100%;}
.__spi32-75{background-position:0px -2400px;width:100%;height:100%;}
.__spi32-76{background-position:0px -24100%;width:100%;height:100%;}
.__spi32-77{background-position:0px -2464px;width:100%;height:100%;}
.__spi32-78{background-position:0px -2496px;width:100%;height:100%;}
.__spi32-79{background-position:0px -2528px;width:100%;height:100%;}
.__spi32-80{background-position:0px -2560px;width:100%;height:100%;}
.__spi32-81{background-position:0px -2592px;width:100%;height:100%;}
.__spi32-82{background-position:0px -2624px;width:100%;height:100%;}
.__spi32-83{background-position:0px -2656px;width:100%;height:100%;}
.__spi32-84{background-position:0px -2688px;width:100%;height:100%;}
.__spi32-85{background-position:0px -2720px;width:100%;height:100%;}
.__spi32-86{background-position:0px -2752px;width:100%;height:100%;}
.__spi32-87{background-position:0px -2784px;width:100%;height:100%;}
.__spi32-88{background-position:0px -2816px;width:100%;height:100%;}
.__spi32-89{background-position:0px -2848px;width:100%;height:100%;}
.__spi32-90{background-position:0px -2880px;width:100%;height:100%;}
.__spi32-91{background-position:0px -2912px;width:100%;height:100%;}
.__spi32-92{background-position:0px -2944px;width:100%;height:100%;}
.__spi32-93{background-position:0px -2976px;width:100%;height:100%;}
.__spi32-94{background-position:0px -3008px;width:100%;height:100%;}
.__spi32-95{background-position:0px -3040px;width:100%;height:100%;}
.__spi32-96{background-position:0px -3072px;width:100%;height:100%;}
.__spi32-97{background-position:0px -3104px;width:100%;height:100%;}
.__spi32-98{background-position:0px -3136px;width:100%;height:100%;}
.__spi32-99{background-position:0px -3168px;width:100%;height:100%;}
.__spi32-100{background-position:0px -3200px;width:100%;height:100%;}
.__spi32-101{background-position:0px -32100%;width:100%;height:100%;}
.__spi32-102{background-position:0px -3264px;width:100%;height:100%;}
.__spi32-103{background-position:0px -3296px;width:100%;height:100%;}
.__spi32-104{background-position:0px -3328px;width:100%;height:100%;}
.__spi32-105{background-position:0px -3360px;width:100%;height:100%;}
.__spi32-106{background-position:0px -3392px;width:100%;height:100%;}
.__spi32-107{background-position:0px -3424px;width:100%;height:100%;}
.__spi32-108{background-position:0px -3456px;width:100%;height:100%;}
.__spi32-109{background-position:0px -3488px;width:100%;height:100%;}
.__spi32-110{background-position:0px -3520px;width:100%;height:100%;}
.__spi32-111{background-position:0px -3552px;width:100%;height:100%;}
.__spi32-112{background-position:0px -3584px;width:100%;height:100%;}
.__spi32-113{background-position:0px -3616px;width:100%;height:100%;}
.__spi32-114{background-position:0px -3648px;width:100%;height:100%;}
.__spi32-115{background-position:0px -3680px;width:100%;height:100%;}
.__spi32-116{background-position:0px -3712px;width:100%;height:100%;}
.__spi32-117{background-position:0px -3744px;width:100%;height:100%;}
.__spi32-118{background-position:0px -3776px;width:100%;height:100%;}
.__spi32-119{background-position:0px -3808px;width:100%;height:100%;}
.__spi32-120{background-position:0px -3840px;width:100%;height:100%;}
.__spi32-121{background-position:0px -3872px;width:100%;height:100%;}
.__spi32-122{background-position:0px -3904px;width:100%;height:100%;}
.__spi32-123{background-position:0px -3936px;width:100%;height:100%;}
.__spi32-124{background-position:0px -3968px;width:100%;height:100%;}
.__spi32-125{background-position:0px -4000px;width:100%;height:100%;}
.__spi32-126{background-position:0px -40100%;width:100%;height:100%;}
.__spi32-127{background-position:0px -4064px;width:100%;height:100%;}
.__spi32-128{background-position:0px -4096px;width:100%;height:100%;}
.__spi32-129{background-position:0px -4128px;width:100%;height:100%;}
.__spi32-130{background-position:0px -4160px;width:100%;height:100%;}
.__spi32-131{background-position:0px -4192px;width:100%;height:100%;}
.__spi32-132{background-position:0px -4224px;width:100%;height:100%;}
.__spi32-133{background-position:0px -4256px;width:100%;height:100%;}
.__spi32-134{background-position:0px -4288px;width:100%;height:100%;}
.__spi32-135{background-position:0px -4320px;width:100%;height:100%;}
.__spi32-136{background-position:0px -4352px;width:100%;height:100%;}
.__spi32-137{background-position:0px -4384px;width:100%;height:100%;}
.__spi32-138{background-position:0px -4416px;width:100%;height:100%;}
.__spi32-139{background-position:0px -4448px;width:100%;height:100%;}
.__spi32-140{background-position:0px -4480px;width:100%;height:100%;}
.__spi32-141{background-position:0px -4512px;width:100%;height:100%;}
.__spi32-142{background-position:0px -4544px;width:100%;height:100%;}
.__spi32-143{background-position:0px -4576px;width:100%;height:100%;}
.__spi32-144{background-position:0px -4608px;width:100%;height:100%;}
.__spi32-145{background-position:0px -4640px;width:100%;height:100%;}
.__spi32-146{background-position:0px -4672px;width:100%;height:100%;}
.__spi32-147{background-position:0px -4704px;width:100%;height:100%;}
.__spi32-148{background-position:0px -4736px;width:100%;height:100%;}
.__spi32-149{background-position:0px -4768px;width:100%;height:100%;}
.__spi32-150{background-position:0px -4800px;width:100%;height:100%;}
.__spi32-151{background-position:0px -48100%;width:100%;height:100%;}
.__spi32-152{background-position:0px -4864px;width:100%;height:100%;}
.__spi32-153{background-position:0px -4896px;width:100%;height:100%;}
.__spi32-154{background-position:0px -4928px;width:100%;height:100%;}
.__spi32-155{background-position:0px -4960px;width:100%;height:100%;}
.__spi32-156{background-position:0px -4992px;width:100%;height:100%;}
.__spi32-157{background-position:0px -5024px;width:100%;height:100%;}
.__spi32-158{background-position:0px -5056px;width:100%;height:100%;}
.__spi32-159{background-position:0px -5088px;width:100%;height:100%;}
.__spi32-160{background-position:0px -5120px;width:100%;height:100%;}
.__spi32-161{background-position:0px -5152px;width:100%;height:100%;}
.__spi32-162{background-position:0px -5184px;width:100%;height:100%;}
.__spi32-163{background-position:0px -5216px;width:100%;height:100%;}
.__spi32-164{background-position:0px -5248px;width:100%;height:100%;}
.__spi32-165{background-position:0px -5280px;width:100%;height:100%;}
.__spi32-166{background-position:0px -5312px;width:100%;height:100%;}
.__spi32-167{background-position:0px -5344px;width:100%;height:100%;}
.__spi32-168{background-position:0px -5376px;width:100%;height:100%;}
.__spi32-169{background-position:0px -5408px;width:100%;height:100%;}
.__spi32-170{background-position:0px -5440px;width:100%;height:100%;}
.__spi32-171{background-position:0px -5472px;width:100%;height:100%;}
.__spi32-172{background-position:0px -5504px;width:100%;height:100%;}
.__spi32-173{background-position:0px -5536px;width:100%;height:100%;}
.__spi32-174{background-position:0px -5568px;width:100%;height:100%;}
.__spi32-175{background-position:0px -5600px;width:100%;height:100%;}
.__spi32-176{background-position:0px -56100%;width:100%;height:100%;}
.__spi32-177{background-position:0px -5664px;width:100%;height:100%;}
.__spi32-178{background-position:0px -5696px;width:100%;height:100%;}
.__spi32-179{background-position:0px -5728px;width:100%;height:100%;}
.__spi32-180{background-position:0px -5760px;width:100%;height:100%;}
.__spi32-181{background-position:0px -5792px;width:100%;height:100%;}
.__spi32-182{background-position:0px -5824px;width:100%;height:100%;}
.__spi32-183{background-position:0px -5856px;width:100%;height:100%;}
.__spi32-184{background-position:0px -5888px;width:100%;height:100%;}
.__spi32-185{background-position:0px -5920px;width:100%;height:100%;}
.__spi32-186{background-position:0px -5952px;width:100%;height:100%;}
.__spi32-187{background-position:0px -5984px;width:100%;height:100%;}
.__spi32-188{background-position:0px -6016px;width:100%;height:100%;}
.__spi32-189{background-position:0px -6048px;width:100%;height:100%;}
.__spi32-190{background-position:0px -6080px;width:100%;height:100%;}
.__spi32-191{background-position:0px -6112px;width:100%;height:100%;}
.__spi32-192{background-position:0px -6144px;width:100%;height:100%;}
.__spi32-193{background-position:0px -6176px;width:100%;height:100%;}
.__spi32-194{background-position:0px -6208px;width:100%;height:100%;}
.__spi32-195{background-position:0px -6240px;width:100%;height:100%;}
.__spi32-196{background-position:0px -6272px;width:100%;height:100%;}
.__spi32-197{background-position:0px -6304px;width:100%;height:100%;}
.__spi32-198{background-position:0px -6336px;width:100%;height:100%;}
.__spi32-199{background-position:0px -6368px;width:100%;height:100%;}
.__spi32-200{background-position:0px -6400px;width:100%;height:100%;}
.__spi32-201{background-position:0px -64100%;width:100%;height:100%;}
.__spi32-202{background-position:0px -6464px;width:100%;height:100%;}
.__spi32-203{background-position:0px -6496px;width:100%;height:100%;}
.__spi32-204{background-position:0px -6528px;width:100%;height:100%;}
.__spi32-205{background-position:0px -6560px;width:100%;height:100%;}
.__spi32-206{background-position:0px -6592px;width:100%;height:100%;}
.__spi32-207{background-position:0px -6624px;width:100%;height:100%;}
.__spi32-208{background-position:0px -6656px;width:100%;height:100%;}
.__spi32-209{background-position:0px -6688px;width:100%;height:100%;}
.__spi32-210{background-position:0px -6720px;width:100%;height:100%;}
.__spi32-211{background-position:0px -6752px;width:100%;height:100%;}
.__spi32-212{background-position:0px -6784px;width:100%;height:100%;}
.__spi32-213{background-position:0px -6816px;width:100%;height:100%;}
.__spi32-214{background-position:0px -6848px;width:100%;height:100%;}
.__spi32-215{background-position:0px -6880px;width:100%;height:100%;}
.__spi32-216{background-position:0px -6912px;width:100%;height:100%;}
.__spi32-217{background-position:0px -6944px;width:100%;height:100%;}
.__spi32-218{background-position:0px -6976px;width:100%;height:100%;}
.__spi32-219{background-position:0px -7008px;width:100%;height:100%;}
.__spi32-220{background-position:0px -7040px;width:100%;height:100%;}
.__spi32-221{background-position:0px -7072px;width:100%;height:100%;}
.__spi32-222{background-position:0px -7104px;width:100%;height:100%;}
.__spi32-223{background-position:0px -7136px;width:100%;height:100%;}
.__spi32-224{background-position:0px -7168px;width:100%;height:100%;}
.__spi32-225{background-position:0px -7200px;width:100%;height:100%;}
.__spi32-226{background-position:0px -72100%;width:100%;height:100%;}
.__spi32-227{background-position:0px -7264px;width:100%;height:100%;}
.__spi32-228{background-position:0px -7296px;width:100%;height:100%;}
.__spi32-229{background-position:0px -7328px;width:100%;height:100%;}
.__spi32-230{background-position:0px -7360px;width:100%;height:100%;}
.__spi32-231{background-position:0px -7392px;width:100%;height:100%;}
.__spi32-232{background-position:0px -7424px;width:100%;height:100%;}
.__spi32-233{background-position:0px -7456px;width:100%;height:100%;}
.__spi32-234{background-position:0px -7488px;width:100%;height:100%;}
.__spi32-235{background-position:0px -7520px;width:100%;height:100%;}
.__spi32-236{background-position:0px -7552px;width:100%;height:100%;}
.__spi32-237{background-position:0px -7584px;width:100%;height:100%;}
.__spi32-238{background-position:0px -7616px;width:100%;height:100%;}
.__spi32-239{background-position:0px -7648px;width:100%;height:100%;}
.__spi32-240{background-position:0px -7680px;width:100%;height:100%;}
.__spi32-241{background-position:0px -7712px;width:100%;height:100%;}
.__spi32-242{background-position:0px -7744px;width:100%;height:100%;}
.__spi32-243{background-position:0px -7776px;width:100%;height:100%;}
.__spi32-244{background-position:0px -7808px;width:100%;height:100%;}
.__spi32-245{background-position:0px -7840px;width:100%;height:100%;}
.__spi32-246{background-position:0px -7872px;width:100%;height:100%;}
.__spi32-247{background-position:0px -7904px;width:100%;height:100%;}
.__spi32-248{background-position:0px -7936px;width:100%;height:100%;}
.__spi32-249{background-position:0px -7968px;width:100%;height:100%;}
.__spi32-250{background-position:0px -8000px;width:100%;height:100%;}
.__spi32-251{background-position:0px -80100%;width:100%;height:100%;}
.__spi32-252{background-position:0px -8064px;width:100%;height:100%;}
.__spi32-253{background-position:0px -8096px;width:100%;height:100%;}
.__spi32-254{background-position:0px -8128px;width:100%;height:100%;}
.__spi32-255{background-position:0px -8160px;width:100%;height:100%;}
.__spi32-256{background-position:0px -8192px;width:100%;height:100%;}
.__spi32-257{background-position:0px -8224px;width:100%;height:100%;}
.__spi32-258{background-position:0px -8256px;width:100%;height:100%;}
.__spi32-259{background-position:0px -8288px;width:100%;height:100%;}
.__spi32-260{background-position:0px -8320px;width:100%;height:100%;}
.__spi32-261{background-position:0px -8352px;width:100%;height:100%;}
.__spi32-262{background-position:0px -8384px;width:100%;height:100%;}
.__spi32-263{background-position:0px -8416px;width:100%;height:100%;}
.__spi32-264{background-position:0px -8448px;width:100%;height:100%;}
.__spi32-265{background-position:0px -8480px;width:100%;height:100%;}
.__spi32-266{background-position:0px -8512px;width:100%;height:100%;}
.__spi32-267{background-position:0px -8544px;width:100%;height:100%;}
.__spi32-268{background-position:0px -8576px;width:100%;height:100%;}
.__spi32-269{background-position:0px -8608px;width:100%;height:100%;}
.__spi32-270{background-position:0px -8640px;width:100%;height:100%;}
.__spi32-271{background-position:0px -8672px;width:100%;height:100%;}
.__spi32-272{background-position:0px -8704px;width:100%;height:100%;}
.__spi32-273{background-position:0px -8736px;width:100%;height:100%;}
.__spi32-274{background-position:0px -8768px;width:100%;height:100%;}
.__spi32-275{background-position:0px -8800px;width:100%;height:100%;}
.__spi32-276{background-position:0px -88100%;width:100%;height:100%;}
.__spi32-277{background-position:0px -8864px;width:100%;height:100%;}
.__spi32-278{background-position:0px -8896px;width:100%;height:100%;}
.__spi32-279{background-position:0px -8928px;width:100%;height:100%;}
.__spi32-280{background-position:0px -8960px;width:100%;height:100%;}
.__spi32-281{background-position:0px -8992px;width:100%;height:100%;}
.__spi32-282{background-position:0px -9024px;width:100%;height:100%;}
.__spi32-283{background-position:0px -9056px;width:100%;height:100%;}
.__spi32-284{background-position:0px -9088px;width:100%;height:100%;}
.__spi32-285{background-position:0px -9120px;width:100%;height:100%;}
.__spi32-286{background-position:0px -9152px;width:100%;height:100%;}
.__spi32-287{background-position:0px -9184px;width:100%;height:100%;}
.__spi32-288{background-position:0px -9216px;width:100%;height:100%;}
.__spi32-289{background-position:0px -9248px;width:100%;height:100%;}
.__spi32-290{background-position:0px -9280px;width:100%;height:100%;}
.__spi32-291{background-position:0px -9312px;width:100%;height:100%;}
.__spi32-292{background-position:0px -9344px;width:100%;height:100%;}
.__spi32-293{background-position:0px -9376px;width:100%;height:100%;}
.__spi32-294{background-position:0px -9408px;width:100%;height:100%;}
.__spi32-295{background-position:0px -9440px;width:100%;height:100%;}
.__spi32-296{background-position:0px -9472px;width:100%;height:100%;}
.__spi32-297{background-position:0px -9504px;width:100%;height:100%;}
.__spi32-298{background-position:0px -9536px;width:100%;height:100%;}
.__spi32-299{background-position:0px -9568px;width:100%;height:100%;}
.__spi32-300{background-position:0px -9600px;width:100%;height:100%;}
.__spi32-301{background-position:0px -96100%;width:100%;height:100%;}
.__spi32-302{background-position:0px -9664px;width:100%;height:100%;}
.__spi32-303{background-position:0px -9696px;width:100%;height:100%;}
.__spi32-304{background-position:0px -9728px;width:100%;height:100%;}
.__spi32-305{background-position:0px -9760px;width:100%;height:100%;}
.__spi32-306{background-position:0px -9792px;width:100%;height:100%;}
.__spi32-307{background-position:0px -9824px;width:100%;height:100%;}
.__spi32-308{background-position:0px -9856px;width:100%;height:100%;}
.__spi32-309{background-position:0px -9888px;width:100%;height:100%;}
.__spi32-310{background-position:0px -9920px;width:100%;height:100%;}
.__spi32-311{background-position:0px -9952px;width:100%;height:100%;}
.__spi32-312{background-position:0px -9984px;width:100%;height:100%;}
.__spi32-313{background-position:0px -10016px;width:100%;height:100%;}
.__spi32-314{background-position:0px -10048px;width:100%;height:100%;}
.__spi32-315{background-position:0px -10080px;width:100%;height:100%;}
.__spi32-316{background-position:0px -10112px;width:100%;height:100%;}
.__spi32-317{background-position:0px -10144px;width:100%;height:100%;}
.__spi32-318{background-position:0px -10176px;width:100%;height:100%;}
.__spi32-319{background-position:0px -10208px;width:100%;height:100%;}
.__spi32-320{background-position:0px -10240px;width:100%;height:100%;}
.__spi32-321{background-position:0px -10272px;width:100%;height:100%;}
.__spi32-322{background-position:0px -10304px;width:100%;height:100%;}
.__spi32-323{background-position:0px -10336px;width:100%;height:100%;}
.__spi32-324{background-position:0px -10368px;width:100%;height:100%;}
.__spi32-325{background-position:0px -10400px;width:100%;height:100%;}
.__spi32-326{background-position:0px -104100%;width:100%;height:100%;}
.__spi32-327{background-position:0px -10464px;width:100%;height:100%;}
.__spi32-328{background-position:0px -10496px;width:100%;height:100%;}
.__spi32-329{background-position:0px -10528px;width:100%;height:100%;}
.__spi32-330{background-position:0px -10560px;width:100%;height:100%;}
.__spi32-331{background-position:0px -10592px;width:100%;height:100%;}
.__spi32-332{background-position:0px -10624px;width:100%;height:100%;}
.__spi32-333{background-position:0px -10656px;width:100%;height:100%;}
.__spi32-334{background-position:0px -10688px;width:100%;height:100%;}
.__spi32-335{background-position:0px -10720px;width:100%;height:100%;}
.__spi32-336{background-position:0px -10752px;width:100%;height:100%;}
.__spi32-337{background-position:0px -10784px;width:100%;height:100%;}
.__spi32-338{background-position:0px -10816px;width:100%;height:100%;}
.__spi32-339{background-position:0px -10848px;width:100%;height:100%;}
.__spi32-340{background-position:0px -10880px;width:100%;height:100%;}
.__spi32-341{background-position:0px -10912px;width:100%;height:100%;}
.__spi32-342{background-position:0px -10944px;width:100%;height:100%;}
.__spi32-343{background-position:0px -10976px;width:100%;height:100%;}
.__spi32-344{background-position:0px -11008px;width:100%;height:100%;}
.__spi32-345{background-position:0px -11040px;width:100%;height:100%;}
.__spi32-346{background-position:0px -11072px;width:100%;height:100%;}
.__spi32-347{background-position:0px -11104px;width:100%;height:100%;}
.__spi32-348{background-position:0px -11136px;width:100%;height:100%;}
.__spi32-349{background-position:0px -11168px;width:100%;height:100%;}
.__spi32-350{background-position:0px -11200px;width:100%;height:100%;}
.__spi32-351{background-position:0px -112100%;width:100%;height:100%;}
.__spi32-352{background-position:0px -11264px;width:100%;height:100%;}
.__spi32-353{background-position:0px -11296px;width:100%;height:100%;}
.__spi32-354{background-position:0px -11328px;width:100%;height:100%;}
.__spi32-355{background-position:0px -11360px;width:100%;height:100%;}
.__spi32-356{background-position:0px -11392px;width:100%;height:100%;}
.__spi32-357{background-position:0px -11424px;width:100%;height:100%;}
.__spi32-358{background-position:0px -11456px;width:100%;height:100%;}
.__spi32-359{background-position:0px -11488px;width:100%;height:100%;}
.__spi32-360{background-position:0px -11520px;width:100%;height:100%;}
.__spi32-361{background-position:0px -11552px;width:100%;height:100%;}
.__spi32-362{background-position:0px -11584px;width:100%;height:100%;}
.__spi32-363{background-position:0px -11616px;width:100%;height:100%;}
.__spi32-364{background-position:0px -11648px;width:100%;height:100%;}
.__spi32-365{background-position:0px -11680px;width:100%;height:100%;}
.__spi32-366{background-position:0px -11712px;width:100%;height:100%;}
.__spi32-367{background-position:0px -11744px;width:100%;height:100%;}
.__spi32-368{background-position:0px -11776px;width:100%;height:100%;}
.__spi32-369{background-position:0px -11808px;width:100%;height:100%;}
.__spi32-370{background-position:0px -11840px;width:100%;height:100%;}
.__spi32-371{background-position:0px -11872px;width:100%;height:100%;}
.__spi32-372{background-position:0px -11904px;width:100%;height:100%;}
.__spi32-373{background-position:0px -11936px;width:100%;height:100%;}
.__spi32-374{background-position:0px -11968px;width:100%;height:100%;}
.__spi32-375{background-position:0px -12000px;width:100%;height:100%;}
.__spi32-376{background-position:0px -120100%;width:100%;height:100%;}
.__spi32-377{background-position:0px -12064px;width:100%;height:100%;}
.__spi32-378{background-position:0px -12096px;width:100%;height:100%;}
.__spi32-379{background-position:0px -12128px;width:100%;height:100%;}
.__spi32-380{background-position:0px -12160px;width:100%;height:100%;}
.__spi32-381{background-position:0px -12192px;width:100%;height:100%;}
.__spi32-382{background-position:0px -12224px;width:100%;height:100%;}
.__spi32-383{background-position:0px -12256px;width:100%;height:100%;}
.__spi32-384{background-position:0px -12288px;width:100%;height:100%;}
.__spi32-385{background-position:0px -12320px;width:100%;height:100%;}
.__spi32-386{background-position:0px -12352px;width:100%;height:100%;}
.__spi32-387{background-position:0px -12384px;width:100%;height:100%;}
.__spi32-388{background-position:0px -12416px;width:100%;height:100%;}
.__spi32-389{background-position:0px -12448px;width:100%;height:100%;}
.__spi32-390{background-position:0px -12480px;width:100%;height:100%;}
.__spi32-391{background-position:0px -12512px;width:100%;height:100%;}
.__spi32-392{background-position:0px -12544px;width:100%;height:100%;}
.__spi32-393{background-position:0px -12576px;width:100%;height:100%;}
.__spi32-394{background-position:0px -12608px;width:100%;height:100%;}

.arrow {
    float: right;
}

.f_grade {
    padding-left: 5px;
    color: white;
    font-size: 0.8em;
    position: absolute;
}

.name {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-size: 0.5em;
}

.btn,
.btn-large {
    background-color: #2c2c2c !important;
    width: 40% !important;
    z-index: 999 !important;
}

.sc {
    background-color: #2c2c2c !important;
    width: 59% !important;
    margin-right: 0;
}

.title {
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
    margin-top: 0.5em;
}

.title0 {
    text-align: left;
    vertical-align: middle;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 0.5em;
    padding-top: 0.5em;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: rgb(134, 134, 134) 0px 0px 2px 0px !important;
}