.hero {
    position: relative;
    width: 98%;
    height: auto;
    border: 0;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-top: 1.5em;
}

.hero img {
    width: 100%;
    height: auto;
}

td {
    padding-top: 0.5em !important;
}

.triangle > span {
    top: 50px;
    left: 4px;
}

.triangle {
    z-index: 10;
    position: absolute;
}

.rank {
    padding-left: 4px;
    padding-top: 4px;
    color: white;
    font-size: 1em;
}

.change {
    padding-top: -2px;
    padding-left: 5px;
    color: white;
    font-size: 0.5em;
}

.f_grade {
    padding-left: 5px;
    color: white;
    font-size: 0.8em;
    position: absolute;
}

.name {
    position: absolute;
    right: 5px;
    color: white;
    font-size: 20%;
}

.dropdown-content {
    z-index:50 !important;
}

.ratio {
    margin-top: 8px;
    font-size: 12px;
}

.ratioback {
    width: 100%;
    background-color: #939393;
    margin-top: 4px;
}

.win_front {
    background-color: #c82d43;
    left: 0px;
    height: 1em;
    margin-top: -5px;
}

.dropbox {
    width: 98%;
}

.btn,
.btn-large {
    background-color: #2c2c2c !important;
    width: 40% !important;
    z-index: 999 !important;
}

.sc {
    background-color: #2c2c2c !important;
    width: 59% !important;
    margin-right: 0;
}

.pick_front0 {
    left: 0px;
    height: 1em;
    margin-top: -5px;
    width: "100%";
}

.pick_front {
    background-color: #2598d3;
    left: 0px;
    height: 1em;
    margin-top: -5px;
}

.title {
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
    margin-top: 1em;
}

.title0 {
    text-align: left;
    vertical-align: middle;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 0.5em;
    padding-top: 0.5em;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: rgb(134, 134, 134) 0px 0px 2px 0px !important;
}

.dropdown-button btn {
    z-index: 30;
}